body {
    height: 100%;
    width: 100%;
    background-color: #FFB040;
}

.timer {
    height: 450px;
    width: 450px;
    background-color: #BF8430;
    border-radius: 10px;
}

.input {
    height: 250px;
    width: 250px;
    background-color: #A66800;
    position: relative;
    border-radius: 6px;
    top: 20%;
    left: 22%;
}

textarea {
    position: relative;
    top: 30%;
    margin: 10%;
}

.counter {
    height: 75px;
    width: 75px;
    background-color: #FFCA73;
    border-radius: 5px;
    position: relative;
    margin-left: 1.5em;
    padding: 5px 0 0 5px;
}